@use 'src/assets/styles/variables/colors';

.button {
  $selector: &;

  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 2.8rem;
  isolation: isolate;
  line-height: 3.1rem;
  overflow: hidden;
  padding: 2.6rem 3.2rem;
  position: relative;
  transition: opacity 0.3s ease;

  &::after,
  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    transition-delay: 0.1s;
    width: 100%;
    z-index: -1;
  }

  &::after {
    content: '';
    top: 0;
  }

  &::before {
    background-color: colors.$tory-blue;
    top: 100%;
  }

  &:hover {
    color: #fff;
    opacity: 0.84;
  }

  span {
    margin-left: 1rem;
    opacity: 0.4;
  }

  &:disabled {
    cursor: default;

    &#{$selector}::before {
      background-color: #000;
      opacity: 0.2;
    }

    &#{$selector}_outline {
      opacity: 0.2;
    }
  }

  &_large {
    font-size: 3rem;
    line-height: 4.2rem;
    padding: 2.4rem 4rem;
  }

  &_fill {
    width: 100%;
  }

  &_outline {
    background-color: #fff;
    box-shadow: colors.$tory-blue 0 0 0 0.2rem inset;
    color: colors.$tory-blue;

    &:hover {
      color: colors.$tory-blue;
      opacity: 0.8;
    }

    &::after,
    &::before {
      content: none;
    }
  }

  &_dark-theme:is(#{$selector}_primary) {
    color: colors.$tory-blue;

    &:hover {
      color: colors.$tory-blue;
    }

    &::before {
      background-color: #fff;
    }

    &:disabled {
      &#{$selector}::before {
        background-color: #fff;
      }
    }

    &#{$selector}_outline {
      background-color: transparent;
      box-shadow: #fff 0 0 0 0.2rem inset;
      color: #fff;
    }
  }
}
